services:
  navidrome:
    image: deluan/navidrome:latest
#    user: 1000:1000 # Cambia esto por tu UID:GID si es necesario
    ports:
      - "4533:4533"
    restart: unless-stopped
    environment:
      # Escanea la carpeta cada 1 hora
      ND_SCANSCHEDULE: 1h
      ND_LOGLEVEL: info  
      ND_SESSIONTIMEOUT: 24h
      # Esto permite que Substreamer vea las fotos de artistas
      ND_ENABLEARTISTQUERYEXTERNALSERVICES: "true"
      ND_LASTFM_APIKEY: ${NAVIDROME_LASTFM_KEY}
      ND_LASTFM_SECRET: ${NAVIDROME_LASTFM_SECRET}

    volumes:
      - ${NAVIDROME_DATA}:/data # Aquí guardará su base de datos
      - ${NAVIDROME_MUSIC}:/music:ro # <--- ¡ESTO ES LO IMPORTANTE!
