services:
  speedtest-tracker:
    container_name: speedtest-tracker
    image: lscr.io/linuxserver/speedtest-tracker:latest
    ports:
      - 8081:80
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Madrid
      - APP_KEY=${APP_KEY}
      - SPEEDTEST_SCHEDULE=0 * * * *
    volumes:
      - ${SPEEDTEST_CONFIG}:/config
    restart: unless-stopped
