services:
  jellyfin:
    image: jellyfin/jellyfin:latest
    container_name: jellyfin
#    user: 1000:1000
#    network_mode: bridge
    ports:
      - "8096:8096"
    volumes:
      - ${JELLYFIN_CONFIG}:/config
      - ${JELLYFIN_CACHE}:/cache
      - ${JELLYFIN_MEDIA}:/media
    restart: unless-stopped

